In [2]:
import pandas as pd

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [16]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()
a = drinks.groupby('continent')['beer_servings']
print(a.count())
print('Europe')
print(a.count()['Europe'])
print(a.agg(['count', 'min', 'max', 'mean']))

continent
Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: beer_servings, dtype: int64
Europe
45
               count  min  max        mean
continent
Africa            53    0  376   61.471698
Asia              44    0  247   37.045455
Europe            45    0  361  193.777778
North America     23    1  285  145.434783
Oceania           16    0  306   89.687500
South America     12   93  333  175.083333